{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'immigrationform/favicon.ico' %}">

    <title>Stranger in a Familiar Land: Form</title>
    <link rel="stylesheet" href={% static 'immigrationform/style.css'%}>


    <script src={% static 'immigrationform/formjs.js'%}> </script>
</head>

<body>
    <H2>Out of Game Note</H2>
    <p>PRIVACY NOTE: these answers are saved to an unsecured database. Please answer "within the magic circle" of the game (this is an exercise in fictional character creation) and not with your own personal information.</p>

<img src="{% static 'immigrationform/stranger_logo.png' %}" alt="The Department Logo" />

    <H2>In Game Note</H2>
    <p>Answer the following questions as part of your application for permission to reside within the United States. False answers can and will pe prosecuted to the furthest extent of the law. </p>
    <p>The department's IT budget was recently cut by 40%. Thus, if you encounter any difficulty completing this form, please call our applicant support team at +1 (123) 456-7891, but we do not guarantee any resolution of the problem and aesthetic suggestions will not be entertained. Further, our applicant support budget was also cut by 40%, so we apologize if we cannot take your call. </p>


        <div id="timer">
            <h3>Form automatically submits in <span id="time">03:00</span> minutes!</h3>
        </div>

    <form id="applicationform" method="post">

            {{ name_form.as_p }}
        {% csrf_token %}

    <h3>Select the most accurate response</h3>
        <table>

            {{ mc_formset.management_form }}
            {% for form in mc_formset %}
                <tr><td><ul class="list-inline">{{ form.as_p }}</ul></td></tr>
            {% endfor %}
        </table>

    <h3>Check each box if your answer is affirmative to the following questions</h3>

        <table>

            {{ polar_formset.management_form }}
            {% for form in polar_formset %}
                <tr><td><ul class="list-inline">{{ form.as_p }}</ul></td></tr>
            {% endfor %}
        </table>

        <input type="submit" value="Submit application" class="btn btn-primary">

    </form>
</body>